- page_title!('Creando tiked_nivele')

#region-tiked_niveles.container

  .region
    .page-header
      %h1
        Crear
        %b
          Tiked Nivel

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning btn-sm'
