- page_title!('Editando cargo')

#region-cargos.container

  .region
    .page-header
      %h1
        Editando
        %b
          cargo

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @cargo, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
