- page_title!('Editando directorioip')

#region-directorioips.container

  .region
    .region-title.page-header
      %h1
        Editando
        %b
          directorioip

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @directorioip, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
