- page_title!('Editando personal')

#region-personals.container

  .region
    .page-header
      %h1
        Editando
        %b
          personal

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @personal, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
