- page_title!('Creando personal')

#region-personals.container

  .region
    .page-header
      %h1
        Creando
        %b
          personal

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
